---
import PageLayout from '../../layouts/pages.astro';
import Item from '../../components/item-description.astro'
import LinkCard from '../../components/horiz_link_card.astro'
---

<PageLayout title="" subtitle="">
    <div class="item-list">
        <Item title="" date="" photo="/image.jpg">

        </Item>
        <LinkCard 
            link = "/https://github.com/LaMatematica14/Chess" 
            title = "Link all'elaborato" 
            text = "Clicca qui per vedere il mio codice su GitHub."
            icon = "code"
            target = "_blank"
        />
    </div>
</PageLayout>

<style>
  .item-list {
    margin: 4rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }

  .cards-list {
    display: flex;
    flex-direction: column;
    gap: 0.85rem;
  }


  @media (max-width: 868px) {

    .gallery-section {
      margin-top: 3.5rem;
    }

    .gallery-divider {
      margin-bottom: 2rem;
    }

    .gallery-section h2 {
      font-size: 1.4rem;
      margin-bottom: 1.5rem;
    }

    .photo-grid {
      column-count: 1; /* Su mobile le foto vanno in un'unica colonna */
      column-gap: 0;
    }
  }
</style>
