---
import IntroLayout from '../../layouts/intros.astro';
import Desc_Box from '../../components/short_description_box.astro'

---


<IntroLayout title="Progetti" description="Overview dei miei progetti"
    heading = "I miei progetti">
  <Desc_Box link = '/progetti/cp' img = '/code.jpg'>
    <h3> In programmazione competitiva </h3>
  </Desc_Box>

  <Desc_Box link = '/progetti/f1inschools' img = '/f1inschools.jpg'>
    <h3> Modellini da corsa - F1 in Schools </h3>
  </Desc_Box>

  <Desc_Box link = '/progetti/scolastici' img = '/404.jpg'>
    <h3> Presentazioni e progetti a scuola </h3>
  </Desc_Box>

  <Desc_Box link = '/progetti/arte' img = '/404.jpg'>
    <h3> Musica e altre passioni artistiche </h3>
  </Desc_Box>
</IntroLayout>