---
import IntroLayout from '../../layouts/intros.astro';
import Desc_Box from '../../components/short_description_box.astro'

---


<IntroLayout title="Riconoscimenti"
    heading = "Premi e riconoscimenti che ho ricevuto">
  <Desc_Box link = '/olinfo/intro' img = '/olinfo2025.jpg'>
    <h3> Alle Olimpiadi di informatica </h3>
  </Desc_Box>

  <Desc_Box link = '/riconoscimenti/olifis' img = '/unito_fis.jpg'>
    <h3> Alle Olimpiadi di fisica </h3>
  </Desc_Box>

  <Desc_Box link = '/riconoscimenti/altro' img = '/banca_italia.jpg'>
    <h3> Altri premi </h3>
  </Desc_Box>
</IntroLayout>