---
// Welcome to Astro! Everything between these triple-dash code fences
// is your "component frontmatter". It never runs in the browser.
import BaseLayout from '../layouts/base.astro';
---


<BaseLayout title="404 error" description="Something went wrong...">

  <div style="text-align: center; flex: 1">
    <img 
      style="max-width: 500px;
      padding: 1.5rem ;
      width: 80%;
      height: auto;" 
      src="/404.jpg" 
      alt="An error was detected."
    >
  </div>
  
  <p class="centered">Purtroppo la pagina che stavi cercando non è stata trovata, riprova...</p>
</BaseLayout>