---
// Welcome to Astro! Everything between these triple-dash code fences
// is your "component frontmatter". It never runs in the browser.
console.log('This runs in your terminal, not the browser!');
import BaseLayout from '../layouts/base.astro';
---


<BaseLayout title="Sofia Maragò" description="La mia pagina principale.">
  <h1>BenvenutƏ nel mio sito! Sono Sofia Maragò </h1>
  <p style="font-size: 1.2rem; margin-top: 1rem;">
    Mi presento, sono una ragazza bilingue la cui più grande passione è la matematica. 

    Se dovessi scegliere una caratteristica che mi descrive è quella della curiosità.

  </p>
</BaseLayout>