---
// Welcome to Astro! Everything between these triple-dash code fences
// is your "component frontmatter". It never runs in the browser.
console.log('This runs in your terminal, not the browser!');
import BaseLayout from '../layouts/base.astro';
---


<BaseLayout title="Sofia Maragò" description="La mia pagina principale.">
  <div class="page-wrapper">
    <div class="presenting-images">
        // fun animated image of me 
    </div>
    <div class="featured-links">

    </div>
  </div>
</BaseLayout>