---
import BaseLayout from './base.astro';
const { title, description } = Astro.props;
const {heading} = Astro.props;
---

<BaseLayout title={title} description={description}>
  <div class="main-frame">
    <hr class="line">

    <div class = "heading-text">
      <h1> {heading} </h1>
    </div>
    
    <hr class = "line">

    <div class="secondary-wrapper">
      <slot/>
    </div>  
  </div>
  
</BaseLayout>

<style>
  .main-frame {
    padding: 3rem 4rem;
    flex:1;
  }

  .secondary-wrapper {
    padding: 3rem 0rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
    gap: 1rem;
  }
  
  .heading-text {
    align-items: center;
    justify-self: center;
    font-size: 1.25rem;
    padding: 2rem 2rem;
  }

  .line {
    color: var(--accent-color-1);
  }

  @media (max-width: 868px) {
    .main-frame {
      padding: 2rem 1.5rem;
    }
    .secondary-wrapper {
      grid-template-columns: 1fr;
      padding: 1.5rem 0;
    }
    .heading-text {
      padding: 1.5rem 1rem;
    }
  }
</style>
